<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niit.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <application android:label="ServiceExample">

        <receiver android:name=".OnBootReceiver" android:enabled="true" android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.TIME_SET"/>
      </intent-filter>
    </receiver>

    </application>

</manifest>